---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SkillCard from "../components/SkillCard.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");

const skills = [
  {
    id: 1,
    name: "HTML",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg",
  },
  {
    id: 2,
    name: "CSS",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg",
  },
  {
    id: 3,
    name: "JavaScript",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg",
  },
  {
    id: 4,
    name: "Java",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg",
  },
  {
    id: 5,
    name: "Express.js",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg",
  },
  {
    id: 6,
    name: "SQLite",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg",
  },
  {
    id: 7,
    name: "MySQL",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
  },
  {
    id: 8,
    name: "Bulma",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bulma/bulma-plain.svg",
  },
  {
    id: 9,
    name: "Node.js",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg",
  },
  {
    id: 10,
    name: "Spring Boot",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg",
  },
];

const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
  <main>
    <Hero />
    <section class="skills-div">
      <h1>Skills</h1>
      <div class="skills-flex-div">
        {
          skills.map((skillCard) => (
            <SkillCard name={skillCard.name} imgLink={skillCard.imgLink} />
          ))
        }
      </div>
    </section>
    <section class="projects-div">
      <h1>Projects</h1>
      <div class="projects-div-flex">
        {
          allProjects.map((card) => (
            <ProjectCard
              projectId={card.data.projectId}
              featured={card.data.featured}
              pageUrl={`/projects/${card.slug}/`}
              imgSrc={card.data.image.url}
              name={card.data.title}
              desc={card.data.description}
              githubUrl={card.data.github}
              techStack={card.data.stack}
            />
          ))
        }
      </div>
    </section>
    <section class="aboutme-div" id="about-me">
      <h1>About Me</h1>
      <div class="info-div">
        <p>
          I am a Computer Science student at UNC-Greensboro. Ever since I was a
          kid, I've always been fascinated by technology and how it works. I
          would go online and search how different aspects of technology worked.
          Eventually, I started to learn how to code and create my own projects.
          I've always been a creative person and I love to create things that
          people can use and enjoy. I'm always looking for new ways to learn and
          grow as a developer. I'm excited to see where my journey in tech will
          take me.
        </p>
      </div>
    </section>
    <section class="contactme-div" id="contact-me">
      <h1>Contact Me</h1>
      <div class="info-contact-div">
        <a href="https://github.com/JM-2001/" target="_blank">Github</a>

        <a href="https://www.linkedin.com/in/jonathan2001/" target="_blank"
          >LinkedIn</a
        >
        <a href="mailto: jmoreno6204@gmail.com"> Email </a>
      </div>
    </section>
  </main>
</Layout>
