---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SkillCard from "../components/SkillCard.astro";
import ProjectCard from "../components/ProjectCard.astro";

import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");

const skills = [
  {
    id: 1,
    name: "HTML",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-original.svg",
  },
  {
    id: 2,
    name: "CSS",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-original.svg",
  },
  {
    id: 3,
    name: "JavaScript",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg",
  },
  {
    id: 4,
    name: "Java",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg",
  },
  {
    id: 5,
    name: "Express.js",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/express/express-original.svg",
  },
  {
    id: 6,
    name: "SQLite",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sqlite/sqlite-original.svg",
  },
  {
    id: 7,
    name: "MySQL",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/mysql/mysql-original.svg",
  },
  {
    id: 8,
    name: "Bulma",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bulma/bulma-plain.svg",
  },
  {
    id: 9,
    name: "Node.js",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/nodejs/nodejs-original-wordmark.svg",
  },
  {
    id: 10,
    name: "Spring Boot",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/spring/spring-original.svg",
  },
  {
    id: 11,
    name: "Svelte",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/svelte/svelte-original.svg",
  },
  {
    id: 12,
    name: "Vite",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/vitejs/vitejs-original.svg",
  },
  {
    id: 13,
    name: "AstroJS",
    imgLink:
      "https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/astro/astro-original.svg",
  },
];

const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
  <main>
    <Hero />
    <section class="skills-div">
      <h1>Skills</h1>
      <div class="skills-flex-div">
        {
          skills.map((skillCard) => (
            <SkillCard name={skillCard.name} imgLink={skillCard.imgLink} />
          ))
        }
      </div>
    </section>
    <section class="projects-div">
      <h1>Projects</h1>
      <div class="projects-div-flex">
        {
          allProjects
            .filter((card: any) => card.data.featured) // Filter projects to only show featured ones
            .sort((a: any, b: any) => b.data.projectId - a.data.projectId) // Sort by ID descending (largest to smallest)
            .map((card: any) => (
              <ProjectCard
                projectId={card.data.projectId}
                featured={card.data.featured}
                pageUrl={`/projects/${card.id}/`}
                imgSrc={card.data.image.url}
                name={card.data.title}
                desc={card.data.description}
                githubUrl={card.data.github}
                techStack={card.data.stack}
              />
            ))
        }
        <ProjectCard
          projectId={0}
          featured={true}
          pageUrl={"/works"}
          imgSrc={"/on_a_moon.png"}
          name={"View more Projects"}
          desc={"This is my portfolio website where I showcase all of my projects and skills. I used AstroJS, a static site generator, to create this website. Furthermore, this thumbnail is from a kurzgesagt video."}
          githubUrl={"/works"}
          techStack={"AstroJS, JS, HTML, CSS"}
        />
      </div>
    </section>
    <section class="aboutme-div" id="about-me">
      <h1>About Me</h1>
      <div class="info-div">
        <p>
          Growing up, I was always fascinated by technology. Especially since I
          was born in the early 2000s, technology started becoming more
          prevalent over the years. In elementary school, we were taught how to
          use a computer which gave me an early foundation in technical
          literacy. With this basic knowledge, I became the "IT" guy of the
          household. In middle school, my household acquired laptop with a
          high-speed internet (10 Mbps download and upload for the time)
          connection. Using this laptop, I would start playing Minecraft with
          friends, when one day, I decided to research how to create Minecraft
          mods. This led me to learning Java and using a Java IDE. Although, I
          created a basic Minecraft Mod that I never got around to finishing.
          Fast forward to senior year of high school, I was taking an AP
          Computer Science class, along with obtaining my I.T. Foundations
          Certificate from Durham Technical Community College. At the end of the
          high school, I decided that I would go for my Associate's Degree of
          Science in Computer Science because I had really enjoyed my experience
          with programming in high school. Two years later, I obtained my
          Associate's Degree of Science in Computer Science and transferred to
          UNC Greensboro for my Bachelor's of Science in Computer Science. At
          UNCG, I was able to obtain hands-on experience in full-stack
          development and a passion for building innovative solutions. I
          combined academic excellence with practical experience in disaster
          response systems, e-commerce platforms, and traffic safety analysis.
          My technical journey spans from developing Shelter Safe, a disaster
          response management system, to creating Neptune's Nook, an e-commerce
          platform for aquarium supplies. Through my NCDOT internship, I gained
          valuable experience in data analysis and visualization, using tools
          like OpenRoad and ArcGIS to enhance traffic safety strategies.I thrive
          in collaborative environments and have led multiple team projects,
          including a social media platform for game developers.
        </p>
      </div>
    </section>
    <section class="contactme-div" id="contact-me">
      <h1>Contact Me</h1>
      <div class="info-contact-div">
        <a href="https://github.com/JM-2001/" target="_blank">Github</a>

        <a href="https://www.linkedin.com/in/jonathan2001/" target="_blank"
          >LinkedIn</a
        >
        <a href="mailto: jmoreno6204@gmail.com"> Email </a>
      </div>
    </section>
  </main>
</Layout>
